.head-1 {
  Text-align: center;
  font-family: georgia, serif;
  color: rgb(255, 136, 0);
  font-size: 30px;
}

body {
  background-color: rgb(13, 204, 204);
}

img {
  border-radius: 50%;
  float: center;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column {
  float: center;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  text-align: center;
  
}